{% extends 'base.html' %}
{% load static %}

    

{% block body %}
    <main id="content">
        <div class="container">
            <header>
                <h1>Hakkımızda</h1>
            </header>
            <section>
                <h2>Vizyonumuz</h2>
                <p>Müşterilerimize en iyi kalitede ürünleri sunarak onların ihtiyaçlarını karşılamak ve memnuniyetlerini sağlamak.</p>
            </section>
            <section>
                <h2>Misyonumuz</h2>
                <p>Yenilikçi yaklaşımlarla sürekli gelişmeyi hedefleyerek, müşterilerimize benzersiz alışveriş deneyimleri yaşatmak.</p>
            </section>
            <section>
                <h2>Ürünlerimiz</h2>
                <p>Geniş bir ürün yelpazesi sunuyoruz. Giyimden elektroniğe, ev gereçlerinden spor malzemelerine kadar her kategoride ürün bulabilirsiniz.</p>
            </section>
            <section>
                <h2>Kalite ve Güvenilirlik</h2>
                <p>Satışa sunduğumuz ürünlerde kalite ve güvenilirliği ön planda tutuyoruz. Size en kaliteli ürünleri sunarak güvenilir alışveriş deneyimi yaşamanızı sağlıyoruz.</p>
            </section>
            <section>
                <h2>Müşteri Memnuniyeti</h2>
                <p>Müşteri memnuniyeti bizim için çok önemlidir. Her zaman size en iyi hizmeti sunmak ve sorularınızı yanıtlamak için buradayız.</p>
            </section>
        </div>
    </main>
{% endblock body %}