{% extends 'base.html' %}
{% load static %}
<head>
    <!-- ionicons icons scripts -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <!-- ionicons icons scripts -->
</head>


{% block body %}
    <main id="content">

        <div class="container">
            <h2>HESAP BİLGİERİM</h2>
            <div id="account-form" class="wrapper">
                <div class="input-box" data-area-name="Isim Guncelleme">
                    <ion-icon class="form-icon" name="refresh-circle-outline"></ion-icon>
                    <input class="inp" type="text" name="first_name" value="{{ auth_user.first_name }}" data-text-content="Isim" disabled>
                    <span class="label">Ad</span>
                </div>
                <div class="input-box" data-area-name="Soyad Guncelleme">
                    <ion-icon class="form-icon" name="refresh-circle-outline"></ion-icon>
                    <input class="inp" type="text" name="last_name" value="{{ auth_user.last_name }}" data-text-content="Soy Isim" disabled>
                    <span class="label">Soyad</span>
                </div>
                <div class="input-box" data-area-name="Kullanici Adi Guncelleme">
                    <ion-icon class="form-icon" name="refresh-circle-outline"></ion-icon>
                    <input class="inp" type="text" name="username" value="{{ auth_user.username }}" data-text-content="Kullanici Adi" disabled>
                    <span class="label">Kullanici Adi</span>
                </div>
                <div class="input-box" data-area-name="E-mail Adresi Guncelleme">
                    <ion-icon class="form-icon" name="refresh-circle-outline"></ion-icon>
                    <input class="inp" type="email" name="email" value="{{ auth_user.email }}" data-text-content="E-Posta Adresi" disabled>
                    <span class="label">E-Posta</span>
                </div>
                <div class="input-box" data-area-name="Sifre Guncelleme">
                    <ion-icon class="form-icon" name="refresh-circle-outline"></ion-icon>
                    <input class="inp" type="password" name="password" value="{{ auth_user.password }}" data-text-content="Sifre" disabled>
                    <span class="label">Sifreniz</span>
                </div>
                <div class="input-box" data-area-name="Dogum Tarihi Guncelleme">
                    <ion-icon class="form-icon" name="refresh-circle-outline"></ion-icon>
                    <input class="inp" type="date" name="birth_date" value="{{ auth_user.customuser.birth_date|date:'Y-m-d' }}" data-text-content="Dogum Tarihi" readonly>
                    <span class="label">Dogum Tarihiniz</span>
                </div>
                <div class="input-box">
                    <input class="inp" type="number" name="age" value="{{ auth_user_age }}" disabled>
                    <span class="label">Yasiniz</span>
                </div>
                <div class="input-box" data-area-name="Sehir Guncelleme">
                    <ion-icon class="form-icon" name="refresh-circle-outline"></ion-icon>
                    <input class="inp" type="text" name="city" value="{{ auth_user.customuser.city }}" data-text-content="Sehir" disabled>
                    <span class="label">Sehir</span>
                </div>
                <div class="input-box p-img" data-area-name="Profil Resmi Guncelleme">
                    <ion-icon class="form-icon" name="refresh-circle-outline"></ion-icon>
                    <input class="inp" type="file" name="profile_img" data-text-content="Profil Resmi" disabled hidden>
                    <span class="label">Profil Resmi</span>
                    <img src="{{ auth_user.customuser.profile_img.url }}" alt="profile-img" srcset="">
                </div>
            </div>
        </div>

    </main>
{% endblock body %}

{% block javaScript %}
    <script>
        var csrfToken = "{{ csrf_token }}"
    </script>
    <!-- cusctomized scripts -->        
    <script src="{% static 'src/js/modal.js' %}"></script>
    <!-- cusctomized scripts -->  
{% endblock javaScript %}