<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <!-- links icons ~ css stylesheet etc -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- ionicons icons scripts -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <!-- ionicons icons scripts -->
    <link rel="stylesheet" href="{% static '/src/scss/main.css' %}">
    <!-- links icons ~ css stylesheet etc -->
</head>
<body class="black">

    {% include './particials/onlyLogoNav.html' %}

    <main id="content">
         <!-- login-form area start -->
         <div class="form-box login">
            <h2 class="title">Login</h2>

            <!-- message box -->
            {% for message in  messages %}
                <p class=""> {{ i }} {{ i.tag }} </p>
            {% endfor %}
            <!-- message box -->

            <form id="login" class="form enter" novalidate>
                <div class="input-box">
                    <input class="inp" type="text" name="username" required>
                    <span class="label">Username</span>
                    <ion-icon class="form-icon" name="person"></ion-icon>
                </div>
                <div class="input-box">
                    <input class="inp" type="password" name="password" id="password" required>
                    <span class="label">Password</span>
                    <ion-icon class="form-icon" name="lock-closed"></ion-icon>
                </div>
                <button type="submit" class="btn">Login</button>
                <div class="logreg-link">
                    <p>Don't have an account? <a href="{% url 'registerPage' %}" class="register-link">Register now!</a></p>
                    <p><a href="#" class="forget-link">Forget My Password </a></p>
                </div>
            </form>
        </div>
        <!-- login-form area end -->
    </main>
    <!-- script -->
    <script>
        var csrfToken = "{{ csrf_token }}";
    </script>
    <script type="module" src="{% static '/src/js/formSubmitHandler.js' %}"></script>
<!-- script --> 
</body>
</html>