.container
{
    grid-column: 2/12;
    text-align: center;
    

    header {
        background-color: #333;
        padding: 20px 0;
        display: flex;
        justify-content: center;
        margin-bottom: calc(var(--base-padding) * 5);

        
        h1 
        {
            color: #fff;
            text-align: center;
            font-size: 5rem;
        }
    }
    
    section {
        margin-bottom: calc(var(--base-padding) * 3);
    }
    
    h1, h2 {
        color: #333;
        font-size: var(--xgiant-fs);

    }
    
    p {
        color: #666;
        font-size: var(--huge-fs);
    }
}