{% load static %}

<header>
    <div class="logo">
        <h2 class="main-title" style="--text-clr: #9E0059">LOGO</h2>
        <h4 class="sub-title" style="--text-clr: #AA00FF">Aradigin Her Sey...</h4>
    </div>
    <nav class="navBar">
        <ul class="links">
            <li class="action-links"><a class="page-links" href="/">anasayfa</a></li>
            <li class="action-links"><a class="page-links" href="/contact">iletisim</a></li>
            <li class="action-links"><a class="page-links" href="/categories">kategoriler</a></li>
            <li class="action-links"><a class="page-links" href="/about">hakkimizda</a></li>
        </ul>
        <div class="buttons">
            <a href="/login" class="button">oturum ac</a>
            <a href=/"resgister" class="button">kayit ol</a>
        </div>
    </nav>
    <div id="hamburgerMenu" class="hamburgerMenu">
        <i class="fa-solid fa-bars"></i>
        <div class="hmbrgr-div sub-title">
            <ul class="hmbrgr-link">
                <li class="hmbrgr-action-link"><a href="/" class="hmbrgr-link">anasayfa</a></li>
                <li class="hmbrgr-action-link"><a href="/contact" class="hmbrgr-link">iletisim</a></li>
                <li class="hmbrgr-action-link"><a href="/categories" class="hmbrgr-link">kategoriler</a></li>
                <li class="hmbrgr-action-link"><a href="/about" class="hmbrgr-link">hakkimizda</a></li>
                <li class="hmbrgr-action-link"><a href="/login" class="hmbrgr-link">oturum ac</a></li>
                <li class="hmbrgr-action-link"><a href="/resgister" class="hmbrgr-link">kayit ol</a></li>
            </ul>
        </div>
    </div>
</header>